#eprayertimes {
    overflow: hidden;
    clear:left;
}
.eprayertimes-table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-clip: padding-box;
    border-collapse: separate;
    border-color: #CFCFD6 -moz-use-text-color #CFCFD6 #CFCFD6;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    overflow: hidden;
    clear:left;
}
.table-bordered th, .table-bordered td {
    border-left: medium none;
}
.ie table thead:first-child tr:first-child th {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
}
.eprayertimes-table thead:first-child tr:first-child th {
    background: -moz-linear-gradient(center bottom , #E5E5E9 0%, #FBFBFC 100%) repeat scroll 0 0 transparent;
    border-right: 1px solid #C4C4CD;
    box-shadow: 1px 0 0 #F6F6F7 inset;
    color: #707083;
    font-size: 1em;
    font-weight: normal;
    text-shadow: 1px 1px 0 #FFFFFF;
    vertical-align: middle;
}
.eprayertimes-table thead:first-child tr:first-child th:last-child {
    background-clip: padding-box;
    border-radius: 0 5px 0 0;
}
.eprayertimes-table thead:first-child tr:first-child th:first-child {
    background-clip: padding-box;
    border-radius: 5px 0 0 0;
}
.eprayertimes-table tr:first-child td {
    border-top: 1px solid #BFBFC8;
}
.eprayertimes-table td {
    border-left: 0 none;
    border-right: 1px solid #CFCFD6;
    border-top: 1px solid #CFCFD6;
}
.eprayertimes-table .table-first-column-check td:first-child, .eprayertimes-table .table-first-column-number td:first-child, .eprayertimes-table .table-first-column-check th:first-child, .eprayertimes-table .table-first-column-number th:first-child {
    text-align: center;
    width: 16px;
}
.eprayertimes-table .table-striped tbody tr:nth-child(2n+1) td, .eprayertimes-table .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #FAFAFA;
}
.eprayertimes-table .data-table {
    clear: both;
    margin-bottom: 0;
}
.eprayertimes-table .data-table th.sorting_asc, .eprayertimes-table .data-table th.sorting_desc, .eprayertimes-table .data-table th.sorting {
    cursor: pointer;
}
.eprayertimes-table .data-table th.sorting_asc:focus, .eprayertimes-table .data-table th.sorting_desc:focus, .eprayertimes-table .data-table th.sorting:focus {
    outline: medium none;
}
.eprayertimes-table .data-table th.sorting_desc .sort-icon {
    float: right;
}
.eprayertimes-table .data-table th.sorting_desc .sort-icon:before {
    content: "";
    font-family: FontAwesome;
}
.eprayertimes-table .data-table th.sorting_asc .sort-icon {
    float: right;
}
.eprayertimes-table .data-table th.sorting_asc .sort-icon:before {
    content: "";
    font-family: FontAwesome;
}
.eprayertimes-table .data-table th.sorting .sort-icon {
    float: right;
}
.eprayertimes-table .data-table th.sorting .sort-icon:before {
    content: "";
    font-family: FontAwesome;
}
.paginate_enabled_next, .paginate_enabled_previous {
    cursor: pointer;
}
.paginate_disabled_next, .paginate_disabled_previous, .paginate_disabled_previous:hover, .paginate_disabled_next:hover {
    color: #333333;
}
.dataTables_paginate {
    margin-top: 0.75em;
}
.dataTables_info {
    float: left;
    margin-top: 0.75em;
}
.dataTables_length label {
    line-height: 2.75em;
    margin-bottom: 0;
    width: auto;
}
.dataTables_length select {
    margin-bottom: 0;
    width: auto;
}
.dataTables_filter label {
    color: #777777;
    font-size: 0.9em;
}
.dataTables_filter label input {
    margin-left: 0.5em;
}
.dataTables_filter input {
    width: 100px;
}
.dataTables_filter, .dataTables_paginate {
    float: right;
}
.dataTables_length {
    float: left;
}