.icon-48-mosques {
      background-image: url(../images/l_mosques.png);
      padding-left:60px!important;
}
.icon-48-mosque {
      background-image: url(../images/l_mosques.png);
      padding-left:60px!important;
}

#toolbar-options {float:right;}